* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #434343;
  height: 100vh;
  padding: 8.3em 2em 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 32px 0px;
  width: 8.625em;
}

.home {
  padding: 1px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-bottom: 2.8em;
  cursor: pointer;
  align-self: center;
}

.perfil {
  padding: 1px;
  margin-bottom: 2.8em;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.deletar {
  height: 2em;
  width: 2em;
  background-color: transparent;
  outline: none;
  border: none;
  align-self: center;
  cursor: pointer;
}
